html, body{
	background: #ffedeb;
    min-height: 100%;
}

.con{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	text-align: center;
}

.logo{
	margin: 6% 0 2% 0;
	display: inline-block;
}

.kvlist{
	width: 70%;
	display: inline-block;
	margin: -7% 0 1% 0;
}

.kvlist li{
	position: relative;
}

.kvlist li a{
    display: inline-block;
}

.kvlist img{
	margin: 2% 0;
	display: inline-block;
}



/* inside */
.inside{
	width: 100%;
	text-align: center;
	background: url("../img/insidebg.jpg") center top no-repeat;
	background-size: 100% auto;
	display: inline-block;
}

.lookSlogan{
	width: 100%;
	margin: 10% 0 6% 0;
	display: inline-block;
}

.videoArea{
    width: 95%;
    background: #fff;
    display: inline-block;
    border: 2px #fff solid;
    overflow: hidden;
    position: relative;
}

.videoHotArea{
    width: 90%;
    text-align: center;
    display: inline-block;
}

.videoHotArea h3{
    font-size: 1.2rem;
    color: #675642;
    text-transform:uppercase;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
    position: relative;
}

.vposter{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 6;
    display: inline-block;
}

.vposter span{
    width: 100%;
    height: 100%;
    background: url("../img/play.png") center no-repeat;
    background-size: 50px auto;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

#vplay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    visibility: hidden;
}


.micon{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: 10px;
    background: url("../img/menu.png") left top no-repeat;
    background-size: auto 40%;
    z-index: 999;
}

.menu{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
}

.menu ul{
    width: 52%;
    display: inline-block;
}

.menu li{
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: url("../img/menubg.jpg") center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    text-align: left;
    color: #fff;
    font-size: 1.3rem;
    text-indent: 1rem;
    float: left;
}

.menu li.hover{
    font-weight: bold;
    text-shadow: 10px 0 10px #fff;
}

.menu li a{
    color: #fff;
    width: 100%;
    height: 100%;
    float: left;
    display: inline-block;
}

.lookcontent, .lookcontent li{
    width: 100%;
    display: inline-block;
}

.lookcontent li{
    position: relative;
}

.lookcontent li a{
    display: inline-block;
}

.gifImg{
    width: 49%;
    position: absolute;
    z-index: 2;
}

 #look1 li:nth-child(1) .gifImg, #look2 li:nth-child(1) .gifImg, #look3 li:nth-child(1) .gifImg{
    left: 2.5%;
    top: 27%;
 }

 #look1 li:nth-child(2) .gifImg{
    right: 2.5%;
    top: 35%;
 }

 #look1 li:nth-child(3) .gifImg{
    left: 2.5%;
    top: 26%;
 }

#look2 li:nth-child(2) .gifImg{
    right: 2.5%;
    top: 35%;
 }

 #look2 li:nth-child(3) .gifImg{
    left: 2.5%;
    top: 26%;
 }

#look3 li:nth-child(2) .gifImg{
    right: 2.5%;
    top: 35%;
}

#look3 li:nth-child(3) .gifImg{
    left: 2.5%;
    top: 28%;
}

#look3 li:nth-child(4) .gifImg{
    right: 2.5%;
    top: 11%;
}


.stepTips{
    width: 80px;
    height: 38px;
    position: absolute;
    right: -89px;
    top: 2%;
    background: url("../img/step1.png") center no-repeat;
    background-size: 96% auto;
}

.stepTips.st2, .stepTips.st4{
    background: url("../img/step2.png") center no-repeat;
    background-size: 96% auto;
    right: 0;
    left: -89px;
}

.stepTips.st3{
    background: url("../img/step3.png") center no-repeat;
    background-size: 96% auto;
}

.stepTips.st4{
    background: url("../img/step4.png") center no-repeat;
    background-size: 96% auto;
}

.morebtn{
    width: 50%;
    height: 15%;
    position: absolute;
    left: 0;
    bottom: 6%;
    z-index: 2;
}

#look1 .morebtn, #look2 .morebtn{
    bottom: 3%;
}


.alertNode{
    width: 100%;
    padding: 16px 0;
    background: rgba(255,255,255,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    font-size: 14px;
    color: #675642;
    text-align: center;
    /*letter-spacing: 0.1em;*/
}






/* loading */

.loading{
    width: 100%;
    height: 100%;
    background: #ffedeb;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.cssload-loader {
    width: 60px;
    height: 6px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    z-index: 100;
    top: 50%;
    margin: -3px 0 0 0;
}

.cssload-loader > div {
    content: " ";
    width: 6px;
    height: 6px;
    background: rgb(33,150,243);
    border-radius: 100%;
    position: absolute;
    animation: cssload-shift 2.3s linear infinite;
        -o-animation: cssload-shift 2.3s linear infinite;
        -ms-animation: cssload-shift 2.3s linear infinite;
        -webkit-animation: cssload-shift 2.3s linear infinite;
        -moz-animation: cssload-shift 2.3s linear infinite;
}
.cssload-loader > div:nth-of-type(1) {
    animation-delay: -0.46s;
        -o-animation-delay: -0.46s;
        -ms-animation-delay: -0.46s;
        -webkit-animation-delay: -0.46s;
        -moz-animation-delay: -0.46s;
}
.cssload-loader > div:nth-of-type(2) {
    animation-delay: -0.92s;
        -o-animation-delay: -0.92s;
        -ms-animation-delay: -0.92s;
        -webkit-animation-delay: -0.92s;
        -moz-animation-delay: -0.92s;
}
.cssload-loader > div:nth-of-type(3) {
    animation-delay: -1.38s;
        -o-animation-delay: -1.38s;
        -ms-animation-delay: -1.38s;
        -webkit-animation-delay: -1.38s;
        -moz-animation-delay: -1.38s;
}
.cssload-loader > div:nth-of-type(4) {
    animation-delay: -1.84s;
        -o-animation-delay: -1.84s;
        -ms-animation-delay: -1.84s;
        -webkit-animation-delay: -1.84s;
        -moz-animation-delay: -1.84s;
}



@keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,237,235);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(255,115,128);
        opacity: 0;
    }
}

@-o-keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,237,235);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(255,115,128);
        opacity: 0;
    }
}

@-ms-keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,237,235);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(255,115,128);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,237,235);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(255,115,128);
        opacity: 0;
    }
}

@-moz-keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,237,235);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(255,115,128);
        opacity: 0;
    }
}



.opacity0{
    opacity: 0;
}


