<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>benefit-美妆博主 VS 眉法眉天</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app-nowtowow/css/style.css"/>
    <!-- endinject -->

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?ba0548f9066e0685dfa593906a3c8e87";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <!-- inject:js -->
    <script type="text/javascript" src="/app-nowtowow/js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/app-nowtowow/js/rem.js"></script>
    <script type="text/javascript" src="/app-nowtowow/js/koljson-100.js"></script>
    <script type="text/javascript" src="/app-nowtowow/js/common.js"></script>
    <script type="text/javascript" src="/app-nowtowow/js/api.js"></script>
    <script type="text/javascript" src="/app-nowtowow/js/superwomen.js"></script>
    <script type="text/javascript" src="/app-nowtowow/js/wxshare.js"></script>

    <!-- endinject -->
</head>
<body>
<div class="wrapper page-superwomen">
    <div class="top-panel">
        <div class="logo">
            <img src="/app-nowtowow/images/logo.png" alt=""/>
        </div>
        <div class="nav">
            <ul class="nav-lists">
                <li class="item-1"><a href="index.html">精彩回顾</a></li>
                <li class="item-2"><a href="#">立即购买</a></li>
                <li class="item-3 active"><a href="superwomen.html">达人分享</a></li>
            </ul>
            <div class="menu">
                <div class="icon-menu"></div>
                <ul class="subnav">
                    <li class="item-1 active"><a href="#">精彩回顾</a></li>
                    <li class="item-2"><a href="#">立即购买</a></li>
                    <li class="item-3"><a href="superwomen.html">达人分享</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <h3 class="title t1">
            美妆博主 VS 眉法眉天
        </h3>
        <h4 class="title2">百变博主的眉法眉天全新体验！</h4>
        <ul class="kol-lists super-lists-100 clearfix">

        </ul>

    </div>
</div>
</body>
</html>